/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
//#include <dt-bindings/zmk/bt.h>


&sk {
     release-after-ms = <2000>;
     quick-release;
 };

/ {
	/*
	combos {
		compatible = "zmk,combos";
		combo_A {
			timeout-ms = <50>;
			key-positions = <4 9>;
			bindings = <&kp LS(A)>;
			};
		};*/


   
	keymap {
		compatible = "zmk,keymap";
		default_layer {
			bindings = <
				&kp R	&kp S	&kp N	&kp I
				&kp A	&kp O	&kp T	&kp E 
				&none	&kp SPACE	&none			
				>;
			};
		};
};
